body {
  margin: 0;
  background: #000;
  cursor:pointer;
}

.video {
  /* width 100%; */
  /*     height: 100%; */
  /* max-width: 100%; */
  /*     max-height:100%; */
  max-height: 100%;
  max-width: 100%;

  width: auto;
  height: auto;

  position: absolute;
  z-index: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);


}

.overlay {
  position: absolute;
  top: 90%;
  left: 0;
  z-index: 1;
}

/*   .demo-1 {
 height: 60px;
  overflow: hidden; 
  position: relative; 
} */

.stroke {
  /*   color: white; */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.marquee h1 {
  font-size: 2em;
  color: #ffffff;
  stroke: 1px black;
  position: absolute;
  /*  width: 100%;
 height: 100%; */
  margin: 0;
  /*  line-height: 50px; */
  /*  text-align: center; */
  overflow: hidden;
  /*  display: inline-block; */
  white-space: nowrap;

  /* Starting position */
  transform: translateX(0%);
  /* Apply animation to this element */
  animation: marquee 15s linear infinite;
}
/* Move it (define the animation) */

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.sitemessage {
  display: inline-block;
  white-space: nowrap;
  transform: translateX(100%);
  animation: floatText 5s infinite linear;
  /* padding-left: 100%; Initial offset */
}

/*   .sitemessage:hover {
    animation-play-state: paused;
  } */

@keyframes floatText {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
